.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.66);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.66);
  transform: translateX(-250px);

  &.open {
    transform: translateX(0);
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .footnote {
    position: absolute;
    bottom: 0;
  }
}

.main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 0;

  .open-btn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  &.open-sidebar {
    margin-left: 250px;
  }

  .card {
    width: 18rem;
    cursor: pointer;
  }
}

.unset-btn {
  all: unset;
  cursor: pointer;
}
