<a class="nav-btn" [routerLink]="'/'">Go to list</a>

<div *ngIf="(personObservable | async) as person; else loading" class="container">
  <div class="row">
    <div class="col">
      <h1 class="sw-yellow text-center">{{person.name}}</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Species
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let specie of person.species" class="list-group-item">{{specie}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Movies
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let film of person.films" class="list-group-item">{{film}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Spaceships
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let starship of person.starships" class="list-group-item">{{starship}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
